<header>
    <div class="header-container">
        <div class="logo-container">
            <a routerLink="/" class="logo">TubeTransfer</a>
            <p>Share and view files everywhere, anywhere</p>
        </div>

        <div *ngIf="!isLogin">
            <div class="login-button">
                <a routerLink="/login">Login</a>
            </div>
        </div>
        <div *ngIf="isLogin">
            <div class="logout-button">
                <h3>Hello {{userName}}!</h3>
                <button (click)="logout()">Log out</button>
            </div>
        </div>
    </div>
</header>
