<div class="upload-details">
    <form>
        <div class="form-row">
            <label>Enter the file name to delete from the cloud</label>
            <input type="text" #fileKey>
            <button (click)="deleteFile(fileKey.value)">Delete</button>
        </div>

        <div class="form-row">
            <label>Enter the file name to get the presigned url of the file</label>
            <input type="text">
            <button>Get URL</button>
        </div>

        <div class="form-row">
            <label>This upload will go directly to S3 with put command</label>
            <input type="file">
            <button>Put</button>
            <button>List</button>
        </div>
    </form>

    <button>Upload to S3</button>
    <button>Stream to server</button>
</div>