<div class="upload-container" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
    <h2>Upload file here!</h2>
    <div class="upload-box">
        <div *ngIf="isDraggingOver" class="drag-message">
            Drop it!
        </div>
        <div *ngIf="!isDraggingOver" class="drag-message">
            Drag and Drop your file here
        </div>
    </div>

    <div class="upload-details">
        <button>Upload to S3</button>
        <button>Stream to server</button>

        <form>
            <label>Enter the file name to delete from the cloud</label>
            <input type="text">
            <button>Delete</button>

            <label>Enter the file name to get the presigned url of the file</label>
            <input type="text">
            <button>Get URL</button>

            <label>This upload will go directly to S3 with put command</label>
            <input type="file">
            <button>Put</button>
            <button>List</button>
        </form>
    </div>
</div>
