<div class="container">
    <div class="go-back-container">
        <div class="go-back-button" (click)="goBack()">
            <p>Go back</p>
        </div>
    </div>
    <div class="frame">
        <h2>Preview:</h2>
        <iframe [src]="src" frameborder="0" width="100%" height="auto"></iframe>
    </div>
    <div class="info">
        <h1 class="title">{{fileName}}</h1>
        <div class="info-and-buttons">
            <div class="more-info">
                <span>Category: {{fileCategory}}</span>
                <span>Date: {{fileDate}}</span>
                <span>Size: {{fileSize}}MB</span>
                <span>Author: {{fileOwner}}</span>
            </div>
            <div class="buttons">
                <button (click)="downloadFile()">
                    <img src="../../../assets/images/icons/download.png" >
                    <p>Download</p>
                </button>
            </div>
        </div>
        <div class="description {{ descIsOpened ? 'opened' : '' }}" (click)="openDescription()">
            <p>
                {{fileDesc}}
            </p>
        </div>
        <div *ngIf="descIsOpened" class="show-less-link" (click)="closeDescription()">
            <a>show less</a>
        </div>
    </div>
  </div>