body 
{
    margin: 0;
    font-family: Arial, sans-serif;
}

.container 
{
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.frame h2
{
    font-weight: 300;
}

.frame 
{
    flex: 1;
}

.frame iframe 
{
    width: 100%;
    height: 720px;
}

.frame iframe
{
    object-fit: fill;
}

.info 
{
    flex: 1;
    padding-left: 20px;
}

.title 
{
    font-size: 24px;
    margin: 0;
    font-weight: 400;
}

.description 
{
    margin-top: 10px;
    overflow: hidden;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    opacity: 50%;
    transition: height 0.5s ease;
}

.description:hover
{
    opacity: 100%;
}

.description.opened
{
    height: 300px;
    overflow: scroll;
    cursor: auto;
}

.more-info span
{
    margin-right: 20px;
    color: #606060;
}

.show-less-link
{
    text-decoration: underline;
    color: blue;
    margin-top: 10px;
    cursor: pointer;
}

.file-viewer-container
{
    margin-bottom: 200px;
}

.info-and-buttons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.info-and-buttons button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 50px;
    opacity: 50%;
}

.info-and-buttons button:hover
{
    opacity: 100%;
}

button img
{
    width: 30px;
}
.go-back-container
{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.go-back-button
{
    align-self: flex-end;
    padding: 5px 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    cursor: pointer;
    opacity: 80%;
}

.go-back-button:hover
{
    opacity: 100%;
    background-color: #3b3b3b32;
}