<div class="container">
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vzdNOK2oB2E?si=HMVXAYAcyNOwRoSn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="info">
        <h1 class="title">Name of file</h1>
        <div class="metadata">
            <span>Category: DSA</span>
            <span>Date: 2024-04-30</span>
            <span>Size: 50MB</span>
            <span>Author: Username</span>
            <span>(icons:)</span>
            <span>SHARE</span>
            <span>DOWNLOAD</span>
            <span>DELETE</span>
        </div>
        <div class="description {{ descIsOpened ? 'opened' : '' }}" (click)="OpenDescription()">
            <p>
                Description...
            <br/>
            <br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus, purus a rutrum sagittis, 
                lorem justo facilisis ante, vel sagittis ipsum leo vitae neque. Phasellus elit arcu, pulvinar non blandit id, 
                semper nec tellus. Cras ac leo elementum, pulvinar purus id, mollis purus. Nullam aliquam erat et pellentesque 
                consequat. Phasellus interdum iaculis ex, at tincidunt sapien imperdiet sit amet. Phasellus dictum nulla vitae 
                ipsum placerat, sit amet lacinia augue laoreet. Nullam dictum volutpat augue ut varius. Etiam quis eleifend justo, 
                sit amet laoreet tortor. Donec luctus luctus orci ac ullamcorper. Nunc ultricies, leo at aliquet pellentesque, 
                nunc sapien pellentesque lacus, at gravida enim elit vel erat. Sed interdum feugiat justo vitae sodales. Morbi 
                vestibulum congue tortor, a auctor nulla imperdiet venenatis. Fusce lorem leo, molestie vel interdum egestas, rhoncus vel dui.
                <br/>
                <br/>
                Idea: There should be max characters when the user is writing the description on the file upload page.
            </p>
        </div>
        <div *ngIf="descIsOpened" class="show-less-link" (click)="CloseDescription()">
            <a>show less</a>
        </div>
    </div>
  </div>