<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/templates/home.js"></script>
</head>
<body>
    <h1>Welcome To File Uploads</h1>
    <form enctype="multipart/form-data"> 
        <label for="file_upload">Upload a file: </label>
        <input type="file" name="file_upload" id="f_input">
        <button class="btn_upload">Send</button>
        <button class="btn_stream">Stream</button>
    </form>


    <input type="text" id="del-id">
    <button class="delete_btn">Delete</button>

    <button class="get_list">List</button>
</body>
</html>