<div>Video player</div>

<video width="320" height="240" controls>
    <source src="https://wrefesfverfgefrg.s3.ca-central-1.amazonaws.com/videos/VHS.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAVKFZNFSAFNE5KZ57%2F20240428%2Fca-central-1%2Fs3%2Faws4_request&X-Amz-Date=20240428T073905Z&X-Amz-Expires=120&X-Amz-Signature=ca35f9eec227731898d933b96d6750986042fbff5617eabc114c69eb855b48e1&X-Amz-SignedHeaders=host&x-id=GetObject" type="video/mp4" />
    Your browser does not support the video tag.
</video>